#grad {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 102), rgb(102, 0, 102));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

ul {
    font-size: 1.5vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #33333381;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: Arial, Helvetica, sans-serif;

}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
    color: white;
}

h3 {
    color: white;
    font-size: xx-large;
}

#Paragraph1 {
    position: absolute; /* Allows precise positioning */
    top: 10vw; /* Moves the div down by 10% of the viewport height */
    left: 9vw; /* Moves the div from the left by 20% of the viewport width */
    height: auto; /* Allow dynamic height */
    width: auto; /* Set the width */
    max-width: 800px; /* Optional: Set a max width */
    min-width: 300px; /* Optional: Set a min width */
    background-image: linear-gradient(to bottom right, rgb(102, 0, 102), rgb(0, 0, 102) );
    color: #FFFFFF; /* Text color */
    background-clip: content-box; /* Apply background only to content area */
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid blue;
    

}

.container {
    padding: 30px 40px 40px;
    max-width: 700px;
}
.container__image{
    width: 250px;
      margin: 30px 30px 30px 0;
      float: left;
    }
.container__text {
      display: inline;
      font-size: x-large;

    }

#CVTITLE{
text-align:center;
font-size: 55px;
font-family: Arial, Helvetica, sans-serif;
}

table {
    padding-left: 10%;
    width: 80%;
    background-color: #f4f4f4;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#CVDIV{
    text-align: left;
    color: #FFFFFF;
    padding-left: 10vw;
}